# Entorno virtual
env/
venv/

# Archivos de Python compilados
__pycache__/
*.py[cod]

# Archivos de configuración del entorno
.env
.venv
.env.*

# Configuración de IDEs
.vscode/
.idea/

# Archivos de log
*.log

# Archivos temporales
*.tmp
*.temp

vectordb/
doc/